#calculator {
	width: 340px;
	border: 1px solid black;
	margin: auto;
	padding: 0;
	text-align: center;
}
p, #result {
	display: inline-block;
	cursor: pointer;
	border: 1px solid black;
	width: 78px;
	margin: 10px 0;
}
#result, #clear {
	width: 320px;
	text-align: right;
	padding-right: 10px;
}
#result {
	overflow-x: auto;
	height: 25px;
}
#clear p {
	text-align: center;
}