.wrapper {
	width: 40%;
	overflow: hidden;
	position: relative;
    margin: auto;
}
#left, #right {
    display:  inline-block;
    border: 1px solid #ff9900;
    padding: 5px 9px;
    border-radius:  50%;
    cursor:  pointer;
    position:  absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index:  1;
    background: white;
}
.button div:hover {
	color: #b6b6b6;
}
#right {
	right: 0;
}
.carousel-item {
    float:  left;
    width: 100%;
    visibility: hidden;    
    opacity: 0;
    height: 0;
    transition: all 1s;
}
img {
    width:  100%;
}
.active {
    visibility: visible;
    height: auto;
    opacity: 1;
}