body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.s-h-350 {
  height: 350px;
}

/* Nav bar */

.cart-icon-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50%;
}

@media only screen and (max-width: 992px) {
  .cart-icon-img {
    top: 0;
    transform: translateY(0);
  }
}

/* Index */

.btn-cart {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* Cart Show */

.cart-show th,
.cart-show td {
  text-align: center;
  vertical-align: middle;
}
  .cart-show td p {
    margin-bottom: 0;
  }

/* Slide */

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  font-size: 50px !important;
}

.owl-carousel .owl-prev {
  left: 0;
}

.owl-carousel .owl-next {
  right: 0;
}

/* Sign in */

.signInSection {
  min-height: 525px;
}

.signIn {
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.signIn .nav.nav-fill .nav-item a {
  border: 1px solid #dee2e6;
  color: #707070;
  position: relative;
}

.signIn .nav.nav-fill .nav-item a:hover,
.signIn .nav.nav-fill .nav-item a.active {
  color: black;
}

.signIn .nav.nav-fill .nav-item a:hover:after,
.signIn .nav.nav-fill .nav-item a.active:after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 3px solid #343a40;
  color: black;
  position: absolute;
  top: 100%;
  left: 0;
}

.signIn .tab-content {}
